$main-color: #a191b2;

#services-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    color: $main-color;
    margin: 2em 0px;
    font-size: 32pt;
  }

  .sub-title {
    font-size: 18pt;
  }

  .service-icon {
    height: 100px;
    width: auto;
  }
}
