$main-color: #313131;
$hover-color: #a191b2;
$secondary-color: #242424;

.nav-bar {
  background-color: $main-color;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;

  .nav-bar-container {
    padding: 0px 22px;
    display: flex;
    min-height: 64px;
    align-items: center;
  }

  .logo-container {
    margin-right: 10%;
  }

  .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .nav-item {
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 64px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .main {
    margin-right: 5%;
  }

  .right-menu {
    justify-content: flex-end;
    .icon {
      width: 10%;
    }
    .text {
      width: 20%;
    }
  }

  // Drop Down menu
  #services {
    position: relative;

    .dropdown-menu {
      position: absolute;
      background-color: $main-color;
      padding: 0px;
      list-style: none;
      text-align: center;
      min-width: 200px;
      transition: 0.3s;
      display: none;
      z-index: 1;
      top: 4em;

      li {
        padding: 12px 0px;
        &:hover {
          background-color: $secondary-color;
        }
      }
    }

    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
